[Unit]
Description=RobyHomeBot
After=network.target

[Service]
WorkingDirectory=/home/pi/roby-home-bot
ExecStart=/home/pi/.nvm/versions/node/v8.11.4/bin/node start
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
